.header {
    position: absolute;
    width: 100%;
    z-index: 10;
    background-color: $background_color;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and(max-width: 1200px) {
        flex-direction: column;
        justify-content: center;
    }
}
.header__item {
    padding: 25px;
    @media only screen and(max-width: 768px) {
       padding: 15px;
    }
}
.total-wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .total-text {
        margin: 0 50px;
        @media only screen and(max-width: 768px) {
           margin: 0 35px;
        }
    }
    .total-icon {
        color: $main_text_color;
        font-size: 15px;
    }
    .total-cost {
        color: $main_text_color;
        font-size: 20px;
    }
}

.shop-icon {
    color: $main_text_color;
}
.header__list--first {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 50%;
    max-width: 50%;
    @media only screen and(max-width: 1200px) {
       justify-content: center;
       flex-basis: 100%;
       max-width: 100%;
    }
}
.header__list--second {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 50%;
    max-width: 50%;
    @media only screen and(max-width: 1200px) {
        justify-content: center;
        flex-basis: 100%;
        max-width: 100%;
     }
}